
    <table class="ff-player-table">
      <tr class="ff-player-header ff-blue-gray">
        <th>Rank</th>
        <th>Name</th>
        <th>Position</th>
        <th>Bye</th>
      </tr>
      <tr class="ff-player-row ff-white">
        <td>1.</td>
        <td>Dalvin Cook</td>
        <td><i>RB</i></td>
        <td><i>6</i></td>
      </tr>
      <tr class="ff-player-row ff-blue-soft">
        <td>2.</td>
        <td>Dalvin Cook</td>
        <td><i>RB</i></td>
        <td><i>6</i></td>
      </tr>
      <tr class="ff-player-row ff-white">
        <td>3.</td>
        <td>Dalvin Cook</td>
        <td><i>RB</i></td>
        <td><i>6</i></td>
      </tr>
      <tr class="ff-player-row ff-blue-soft">
        <td>4.</td>
        <td>Dalvin Cook</td>
        <td><i>RB</i></td>
        <td><i>6</i></td>
      </tr>
      <tr class="ff-player-row ff-white">
        <td>5.</td>
        <td>Dalvin Cook</td>
        <td><i>RB</i></td>
        <td><i>6</i></td>
      </tr>
      <tr class="ff-player-row ff-blue-soft"> 
        <td>6.</td>
        <td>Dalvin Cook</td>
        <td><i>RB</i></td>
        <td><i>6</i></td>
      </tr>
      <tr class="ff-player-row ff-white">
        <td>7.</td>
        <td>Dalvin Cook</td>
        <td><i>RB</i></td>
        <td><i>6</i></td>
      </tr>
      <tr class="ff-player-row ff-blue-soft">
        <td>8.</td>
        <td>Dalvin Cook</td>
        <td><i>RB</i></td>
        <td><i>6</i></td>
      </tr>
      <tr class="ff-player-row ff-white">
        <td>9.</td>
        <td>Dalvin Cook</td>
        <td><i>RB</i></td>
        <td><i>6</i></td>
      </tr>
      <tr class="ff-player-row ff-blue-soft">
        <td>10.</td>
        <td>Dalvin Cook</td>
        <td><i>RB</i></td>
        <td><i>6</i></td>
      </tr>
      <tr class="ff-player-row ff-white">
        <td>11.</td>
        <td>Dalvin Cook</td>
        <td><i>RB</i></td>
        <td><i>6</i></td>
      </tr>
      <tr class="ff-player-row ff-blue-soft">
        <td>12.</td>
        <td>Dalvin Cook</td>
        <td><i>RB</i></td>
        <td><i>6</i></td>
      </tr>
      <tr class="ff-player-row ff-white">
        <td>13.</td>
        <td>Dalvin Cook</td>
        <td><i>RB</i></td>
        <td><i>6</i></td>
      </tr>
      <tr class="ff-player-row ff-blue-soft">
        <td>14.</td>
        <td>Dalvin Cook</td>
        <td><i>RB</i></td>
        <td><i>6</i></td>
      </tr>
      <tr class="ff-player-row ff-white">
        <td>15.</td>
        <td>Dalvin Cook</td>
        <td><i>RB</i></td>
        <td><i>6</i></td>
      </tr>
      <tr class="ff-player-row ff-blue-soft">
        <td>16.</td>
        <td>Dalvin Cook</td>
        <td><i>RB</i></td>
        <td><i>6</i></td>
      </tr>
    </table>
