
<!-- Sidebar/menu -->

  
  <div class="ff-player-margin" *ngIf="rankings">
      <table class="ff-player-table">
          <tr class="ff-player-header ff-blue-gray">
            <th>Rank</th>
            <th>Name</th>
            <th>Position</th>
            <th>Bye</th>
          </tr>
          <tr *ngFor= "let ranking of rankings" class="ff-player-row ff-white">
              <td>{{ ranking.rank }}</td>
              <td>{{ ranking.firstName }} {{ ranking.lastName }}</td>
              <td><i>{{ ranking.position }}</i></td>
              <td><i>{{ ranking.bye }}</i></td>
          </tr>
        </table>
  </div>

    
  
   
   
