<div class="ff-teal ff-drafter-container ff-wrap-text">
    Bye Week Counter

<table table-layout: fixed class="ff-bye-count">
  <!-- horiztonal -->
  <!--
  <tr class="ff-pale-turqoise">
      <th class="ff-bye-right-border">4</th>
      <th class="ff-bye-right-border">5</th>
      <th class="ff-bye-right-border">6</th>
      <th class="ff-bye-right-border">7</th>
      <th class="ff-bye-right-border">8</th>
      <th class="ff-bye-right-border">9</th>
      <th class="ff-bye-right-border">10</th>
      <th class="ff-bye-right-border">11</th>
      <th class="ff-bye-right-border">12</th>
      <th class="ff-bye-right-border">13</th>
  </tr>
  <tr class="ff-light-gray">
      <th class="ff-bye-right-border">0</th>
      <th class="ff-bye-right-border">0</th>
      <th class="ff-bye-right-border">0</th>
      <th class="ff-bye-right-border">0</th>
      <th class="ff-bye-right-border">0</th>
      <th class="ff-bye-right-border">0</th>
      <th class="ff-bye-right-border">0</th>
      <th class="ff-bye-right-border">0</th>
      <th class="ff-bye-right-border">0</th>
      <th class="ff-bye-right-border">0</th>
  </tr>
-->
  <!-- vertical -->
  <tr>
      <th class="ff-pale-turqoise ff-bye-border">4</th>
      <th class="ff-light-gray ff-bye-border">0</th>
  </tr>
  <tr>
      <th class="ff-pale-turqoise ff-bye-border">5</th>
      <th class="ff-light-gray ff-bye-border">0</th>
  </tr>
  <tr>
      <th class="ff-pale-turqoise ff-bye-border">6</th>
      <th class="ff-light-gray ff-bye-border">0</th>
  </tr>
  <tr>
      <th class="ff-pale-turqoise ff-bye-border">7</th>
      <th class="ff-light-gray ff-bye-border">0</th>
  </tr>
  <tr>
      <th class="ff-pale-turqoise ff-bye-border">8</th>
      <th class="ff-light-gray ff-bye-border">0</th>
  </tr>
  <tr>
      <th class="ff-pale-turqoise ff-bye-border">9</th>
      <th class="ff-light-gray ff-bye-border">0</th>
  </tr>
  <tr>
      <th class="ff-pale-turqoise ff-bye-border">10</th>
      <th class="ff-light-gray ff-bye-border">0</th>
  </tr>
  <tr>
      <th class="ff-pale-turqoise ff-bye-border">11</th>
      <th class="ff-light-gray ff-bye-border">0</th>
  </tr>
  <tr>
      <th class="ff-pale-turqoise ff-bye-border">12</th>
      <th class="ff-light-gray ff-bye-border">0</th>
  </tr>
  <tr>
      <th class="ff-pale-turqoise ff-bye-border">13</th>
      <th class="ff-light-gray ff-bye-border">0</th>
  </tr>

</table>
</div>