<table class="ff-all-draft-table">
  <td class="ff-drafter-table">
    <app-drafter-table></app-drafter-table>
  </td>
  <td class="ff-drafter-table">
    <app-drafter-table></app-drafter-table>
  </td>
  <td class="ff-drafter-table">
    <app-drafter-table></app-drafter-table>
  </td>
  <td class="ff-drafter-table">
    <app-drafter-table></app-drafter-table>
  </td>
  <td class="ff-drafter-table">
    <app-drafter-table></app-drafter-table>
  </td>
  <td class="ff-drafter-table">
    <app-drafter-table></app-drafter-table>
  </td>
  <td class="ff-drafter-table">
    <app-drafter-table></app-drafter-table>
  </td>
  <td class="ff-drafter-table">
    <app-drafter-table></app-drafter-table>
  </td>
  <td class="ff-drafter-table">
    <app-drafter-table></app-drafter-table>
  </td>
  <td class="ff-drafter-table">
    <app-drafter-table></app-drafter-table>
  </td>
  <td class="ff-drafter-table">
    <app-drafter-table></app-drafter-table>
  </td>
  <td class="ff-drafter-table">
    <app-drafter-table></app-drafter-table>
  </td>
  <td class="ff-drafter-table">
    <app-drafter-table></app-drafter-table>
  </td>
  <td class="ff-drafter-table">
    <app-drafter-table></app-drafter-table>
  </td>  
</table>