<!DOCTYPE html>
<html>
<title>ff.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body>

 
<!-- Top container -->
<!--
<div class="ff-bar ff-top ff-teal ff-large" style="z-index:4">
  <button class="ff-bar-item ff-button ff-hover-none ff-hover-text-light-grey" onclick="ff_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="ff-bar-item ff-right"><b><i class="fa fa-dashboard"></i> Draft Dashboard</b></span>
</div>
-->
<app-navbar></app-navbar>





<!-- Overlay effect when opening sidebar on small screens 
<div class="ff-overlay ff-hide-large ff-animate-opacity" onclick="ff_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
-->

<script>
// Get the Sidebar
//var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
//var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
/*function ff_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}*/

// Close the sidebar with the close button
/*function ff_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}*/
</script>

</body>
</html>
