
<div class="ff-drafter-name ff-teal"> 
    <i class="fa fa-user fa-fw ff-text-white ff-large "></i>
    {{ drafter.name }}
</div>
<div class="ff-drafter-container">
<table table-layout: fixed class="ff-position-count">
    <tr class="ff-pale-turqoise">
      <th class="ff-position-right-border">QB</th>
      <th class="ff-position-right-border">RB</th>
      <th class="ff-position-right-border">WR</th>
      <th class="ff-position-right-border">TE</th>
    </tr>
    <tr class="ff-light-gray">
      <th class="ff-position-right-border">{{ drafter.getPostionCount("QB") }}</th>
      <th class="ff-position-right-border">{{ drafter.getPostionCount("RB") }}</th>
      <th class="ff-position-right-border">{{ drafter.getPostionCount("WR") }}</th>
      <th class="ff-position-right-border">{{ drafter.getPostionCount("TE") }}</th>
    </tr> 
</table>

<div class="ff-table ff-striped ff-white .ff-centered">
  <table>
    <tr class="ff-blue-gray">
      <th>Pick</th>
      <th>Name</th>
      <th>Position</th>
      <th>Bye Week</th>
    </tr>
    <tr *ngFor="let pick of drafter.picks">
      <td>{{ pick.pickNum }}</td>
      <td>{{ pick.name }}</td>
      <td><i>{{ pick.position }}</i></td>
      <td><i>{{ pick.bye }}</i></td>
    </tr>
  </table>
</div>
</div>
